body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	cursor: default;
	color: white;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div {
	display: block;
}
button {
	margin: 15px;
	padding: 15px 32px;
	border: none;
	text-decoration: none;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.8);	
	color: black;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
button:hover {
	background-color: #4CAF50;
	color: white;
}
button:hover:disabled {
	background-color: #FF003F;
	color: white;
}
#infoBoxOpen {
	margin-bottom: 35px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#infoBoxOpen:hover {
	color: #4CAF50;
}
#infoBox {
	position: absolute;
	display: none;
	top: 0;
	width: 40%;
	height: 30%;
	margin: 10% 30%;
	padding-top: 5%;
	background-color: rgba(15, 15, 15, 0.8);
	text-align: center;
}
#infoBox p {
	margin: 10px 20px;
}
.sidebarItem {
	min-width: 300px;
}
#dropZone {
	height: 80px;
	margin-top: 50px;
	border: 2px dashed rgba(150, 150, 150, 0.8);
	padding: 25px;
}
#sidebarGroup {
	position: absolute;
	z-index: 1337;
}
#sidebarOpen {
	position: absolute;
	top: 40vh;
	padding: 5px 10px 5px 10px;
	background-color: grey;
}
#showblock:checked + #sidebarOpen {
	background-color: red;
}
#sidebarClose {
	position: absolute;
	top: 30vh;
	right: 0;
	padding: 5px 10px 5px 10px;
	background-color: black;
}
#sidebar {
	position: absolute;
	overflow: hidden;
	top: 10vh;
	width: 0;
	height: 500px;
	text-align: center;
	-webkit-transition: width 500ms ease;
	-moz-transition: width 500ms ease;
	-o-transition: width 500ms ease;
	transition: width 500ms ease;
	background-color: rgba(25, 25, 25, 0.8);
}
#showblock {
	display: none;
}
#showblock:checked + #sidebar {
	width: 400px;
}
#canvas {
	width: 100%;
	height: 80vh;
	background-color: #282828;
}
#playerCount {
	position: absolute;
	margin: 0;
	top: 0;
	right: 0;
}
#fps {
	position: absolute;
	margin: 0;
	top: 1.5em;
	right: 0;
}
#engagePedal {
	position: absolute;
	display: none;
	width: 10vh;
	bottom: 20vh;
	right: 0;
}
.divider {
	box-sizing: border-box;
	width: 5.769%;
	height: 80vh;
	float: left;
	border-right: 1px black solid;
}
.divider:nth-child(2n+1) {
	width: 7.692%;
}
.divider:nth-child(1) {
	width: 3.846%;
}
#keyboard {
	height: 20vh;
	background-color: grey;
}
#blackKeys {
	width: 100%;
	height: 12vh;
	position: absolute;
}
.whiteKey {
	box-sizing: border-box;
	border: 1px black solid;
	border-top: 2px	#CC0000 solid;
	border-left: 0;
	width: 1.923%;
	height: 20vh;
	float: left;
	background-color: white;
}
.blackKey {
	border-radius: 0 0 5px 5px;
	width: 1.3%;
	height: 12vh;
	float: left;
	background-color: black;
}
.blackKey:nth-child(5n+1) { margin-left: 0.92%; }
.blackKey:nth-child(5n+2) { margin-left: 2%; }
.blackKey:nth-child(5n+3) { margin-left: 1.1%; }
.blackKey:nth-child(5n+4) { margin-left: 2%; }
.blackKey:nth-child(5n+5) { margin-left: 0.95%; }
.blackKey:nth-child(1) { margin-left: 1.5%; }
.whiteKey, .blackKey {
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-ms-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}
.keyDown {
	background-color: red;
	-webkit-transition: background 0s;
	-moz-transition: background 0s;
	-ms-transition: background 0s;
	-o-transition: background 0s;
	transition: background 0s;
}
.blackKey.keyDown {
	background-color: #860111;
}
.noteDown, .noteUp {
	position: absolute;
	background-color: red;
	border-radius: 5px;
}
.blackKey .noteDown, .blackKey .noteUp {
	background-color: #860111;
}